*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
}
.color{
    background: #5415c0;

}
.logo img{
    margin: 30px;
}
.logo img:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.nav-list ul li{
    list-style: none;
    font-weight: 800;
    margin: 40px;
    display: inline-flex;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;

}
.nav-list ul li:hover{
    /* color: #000; */
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.btn{
    background: #0fb3f5;
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    color: #fff;
    margin: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}
.btn:hover{
    background: #fff;
    color: #0fb3f5;
    cursor: pointer;
}
body{
    width: 100%;
    height: 100vh;
}
.row1,.row2{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.left{
    width: 300px;
    font-family: poppins;
    margin-top: 40px;
}
.left h1{
    margin-top: -30px;
    width: 300px;
    font-size: 43px;
    color: #fff;
    margin-bottom: 20px;
}
.left p{
    color: #fff;
    width: 400px;
    line-height: 22px;
}
.right{
    width: 400px;
}
svg{
    width: 530px;
}
svg:hover{
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}
.right-img{
    margin-top: -90px;
    padding: 40px;
}
.right-text{
    margin-left: 80px;
    margin-top: 80px;
    width: 300px;
}
.right-text h2{
    margin-top: 40px;
    margin-bottom: 10px;
}
.right-text p{
    line-height: 23px;
}
.middle-text{
    text-align: center;
    color: #000;
    margin-top: 100px;
}
.box{
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}
.boxx{
    width: 260px;
    border: 3px solid #fff;
    height: 200px;
    margin: 10px;
    box-shadow: 15px 20px 30px -20px gray;
    border-radius: 20px;
}
.boxxx{
    height: 100px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
}
.boxxx:hover{
    background: #5415c0;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}
.active{
    background: #5415c0;
    color: #fff;
}
.active:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
    transition: 0.7s ease;
}
.boxxx p{
    font-size: 19px;
}
.svg-img{
    width: 70px;
}
@media(max-width: 767.98px){
    .nav-list{
        /* opacity: 0; */
        display: none;
    }
    .row1,.row2{
        margin-top: 60px;
        flex-direction: column;

    }
    .left, right{
        align-items: center;
        margin: auto;
        margin-bottom: 70px;
        /* width: 100%; */

    }
    .left p{
        width: auto;
    }
    .right{
        width: 100%;
        text-align: center;
        margin: auto;
    }
    svg{
        width: 400px;
    }
    .right-wrapper{
        text-align: center;
        align-items: center;
        margin: auto;

    }
    .right-text{
        margin-top: 30px;
        align-items: center;
        margin: auto;
    }
    .right-text h2{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .middle-text h1{
        margin: auto;
    }
    .box{
        display: block;
    }
    .boxx{
        /* border: 3px solid red; */
        width: 70%;
        height: 100%;
        /* padding: 20px; */
        margin: 20px 40px;
        display: block;
        margin: auto;
        align-items: center;
        margin-bottom: 20px;

    }
}